{# Comment Component (formerly OrionComponents::Comment) #}
<div class="bg-branddark-600 flex flex-row p-4 gap-5 rounded-xl border border-gray-700/30">
  <a href="/profile/{{ comment.getAuthor().id }}" class="w-16 h-16 rounded-full overflow-hidden border-4 border-alt-500 flex-shrink-0">
    <img src="{{ profile_pic(comment.getAuthor()) }}" alt="Foto de perfil de {{ comment.getAuthor().username }}" class="w-full h-full object-cover">
  </a>
  <div class="flex flex-col gap-2 w-full">
    <a href="/profile/{{ comment.getAuthor().id }}" class="font-semibold text-gray-100 hover:text-alt transition">
        {{ comment.getAuthor().username }}
    </a>
    <p class="text-gray-300 w-full leading-relaxed">{{ comment.body }}</p>
  </div>
</div>
