<!DOCTYPE html>
<html lang="es" class="dark h-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Orion{% endblock %}</title>

    {# Google Fonts #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Lexend:wght@100..900&display=swap" rel="stylesheet">

    {# Tailwind #}
    <script src="{{ asset('vendor/tailwind-3.4.15.js') }}"></script>
    <script src="{{ asset('js/tailwindConfig.js') }}"></script>

    {# JQuery #}
    <script src="{{ asset('vendor/jquery/jquery-3.7.1.min.js') }}"></script>

    {# Orion CSS #}
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">

    {# Vendor CSS #}
    <link rel="stylesheet" href="{{ asset('vendor/bootstrap-icons/bootstrap-icons.min.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/animate.css/animate.min.css') }}">

    {% block styles %}{% endblock %}
</head>
<body class="bg-brand text-white h-full">
  {% include 'layouts/navbar.twig' %}

  {% block body %}
  <main class="container mx-auto mt-8 px-4">
    {% block content %}{% endblock %}
  </main>
  {% endblock %}

  {% include 'layouts/footer.twig' %}

  {# Vendor JS Files #}
  <link rel="stylesheet" href="{{ asset('vendor/aos/aos.css') }}">
  <script src="{{ asset('vendor/aos/aos.js') }}"></script>
  <script>AOS.init();</script>

  <script src="{{ asset('vendor/moment/moment.min.js') }}"></script>

  {% block scripts %}{% endblock %}
</body>
</html>
